.form-input {
  padding: 10px;
  border: 1px solid #f67280;
  border-radius: 8px;
  font-size: 16px;
  font-family: inherit;
  outline-color: #f67280;
}

.create-button {
  background-color: #f67280;
  color: #fff;
  padding: 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 15px;
  font-family: inherit;
}

.form-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  padding: 20px;
  border: 1px solid #f67280;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  gap: 20px;
  background-color:#ffe2e2;
  font-family: "Geoform", sans-serif;
}

.create-button:hover {
  background-color: #f67280;
}